$font-family-sans-serif: 'Source Sans Pro',
sans-serif;

$primary: #1E7D34;
$secondary: #5EBD74;
$success: #28A745;
$danger: #f57e80;
$warning: #F1AB10;
$info: #94D3A2;
$light: #C9E9D1;
$dark: #C9E9D1;
$light_transparent: rgba(201, 233, 209, 0.85);

$enable-responsive-font-sizes: true;

.my-headline__brand {
    font-family: 'Pacifico', cursive!important;
}

@import 'bootstrap/scss/bootstrap';
